<%# app/views/admin/users/_admin.html.erb %>
<tr>
  <td><%= link_to admin.name, admin_admin_user_path(admin) %></td>
  <td><%= admin.email %></td>
  <td><%= t("activerecord.attributes.user.genders.#{admin.gender}") %></td>
  <td><%= l(admin.birthday, format: :long) if admin.birthday? %></td>
  <td class="text-center"><%= status_badge(admin.activated?) %></td>

  <td class="text-center">
    <%= link_to t(".view_profile"), admin_admin_user_path(admin), class: "btn btn-xs btn-info" %>
    <% if admin.activated? %>
      <%= link_to t(".deactivate"), deactivate_admin_admin_user_path(admin),
                  data: {turbo_method: :patch},
                  class: "btn btn-xs btn-warning" %> 
    <% else %>
      <%= link_to t("common.activate"), activate_admin_admin_user_path(admin),
                  data: {turbo_method: :patch},
                  class: "btn btn-xs btn-success" %>
    <% end %>

    <%= link_to t(".delete"), admin_admin_user_path(admin),
                  data: {turbo_method: :delete, turbo_confirm: t(".confirm_delete", name: admin.name)},
                  class: "btn btn-xs btn-danger" %>
  </td>
</tr>
