<div class="table-responsive">
  <table class="table dashboard-table">
    <thead>
      <tr>
        <th><%= t(".table_headers.course") %></th>
        <th><%= t(".table_headers.creators") %></th>
        <th><%= t(".table_headers.start_date") %></th>
        <th><%= t(".table_headers.end_date") %></th>
        <th><%= t(".table_headers.trainees") %></th>
        <th><%= t(".table_headers.trainers") %></th>
        <th><%= t(".table_headers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "courses_row", collection: @courses %>
    </tbody>
  </table>
</div>
