<%= form_with url: admin_user_path(@user_supervisor), 
        method: :get, 
        local: true, 
        data: {turbo: false}, 
        class: "filter-form" do |f| %>
  <div class="row g-3">
  <div class="col-md-3">
    <%= f.text_field :search, 
             value: params[:search], 
             placeholder: t(".search_placeholder"), 
             class: "form-control search-input" %>
  </div>
  
  <div class="col-md-2">
    <%= f.select :status, 
           options_for_select(user_course_status_options, params[:status]), 
           {}, 
           {class: "form-select status-select"} %>
  </div>
  
  <div class="col-md-3">
    <%= f.select :course_id, 
           options_for_select([
           [t(".course_all"), ""]
           ] + Course.recent.map {|course| [course.name, course.id]}, params[:course_id]), 
           {},
           {class: "form-select course-select"} %>
  </div>
  
  <div class="col-md-2">
    <%= f.submit t(".apply"), class: "btn btn-primary apply-btn w-100" %>
  </div>
  
  <div class="col-md-2">
    <%= link_to t(".reset_filters"), 
          admin_user_path(@user_supervisor), 
          class: "btn btn-outline-secondary reset-btn w-100" %>
  </div>
  </div>
<% end %>
