<tr class="supervisor-row">
  <td><%= index + 1 %></td>
  <td>
    <%= link_to course.name, supervisor_course_path(course), class: "supervisor-name text-decoration-none" %>
  </td>
  <td>
    <span class="badge badge-secondary"><%= course.start_date %></span>
  </td>
  <td>
    <span class="badge badge-secondary"><%= course.finish_date %></span>
  </td>
  <td>
    <% if course.users.any? %>
      <span class="badge badge-secondary"><%= course.users.to_a.size %></span>
    <% else %>
      <span class="text-muted"><%= Settings.nil_value %></span>
    <% end %>
  </td>
  <td>
    <% status = course&.status %>
    <span class="badge status-badge <%= status_badge_class(status) %>">
      <%= t(".status_#{status}") %>
    </span>
  </td>
  <td class="actions-col">
    <div class="dropdown">
      <button class="btn btn-outline-primary btn-sm dropdown-toggle action-btn"
              type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t(".table.actions") %>
      </button>
      <ul class="dropdown-menu">
        <li>
          <%= link_to supervisor_course_path(course), class: "dropdown-item" do %>
            <i class="fas fa-eye mr-2"></i><%= t(".view_course_details") %>
          <% end %>
        </li>
        <li>
          <%= link_to delete_user_course_admin_user_path(@user_supervisor, course_id: course.id),
              class: "dropdown-item text-danger", data: {turbo_method: :delete} do %>
            <i class="fas fa-trash mr-2"></i><%= t(".remove_from_course") %>
          <% end %>
        </li>
      </ul>
    </div>
  </td>
</tr>
